:root{
    background-color: burlywood; 
    font-family: Garamond, serif;
}

p {
    color:whitesmoke; font-size: x-large;
}

h1 {
    text-align: center; 
}

.parent {
    text-align: center;
}

.child {
    display: inline-block;
    vertical-align: middle;
}

/* Styles for Navigation */
.nav-h {
    list-style-type: none;
    background-color: rgb(39, 39, 39);
    margin: 0;
    padding: 5;
    overflow: hidden;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}

.nav-h li {
    float: left;
}

.nav-h li {
    width: 150px;
}

.active {
    background-color: black;
}

li a:hover {
    background-color: whitesmoke;
    color:black ;
}

.position-me {
    position: absolute;
    display: inline;
    left: 130px;
    top: 175px;
}

.position-why {
    position: absolute;
    display: inline;
    left: 700px;
    top: 175px;
}

.position-blk {
    position: absolute;
    display: inline;
    right: 150px;
    top: 175px;
   
}

