:root{
    background-color: burlywood; 
    font-family: Garamond, serif;
}

p {
    color:whitesmoke; font-size: x-large;
}

h1,h2 {
    text-align: center; 
}

.parent {
    text-align: center;
}

.child {
    display: inline-block;
    vertical-align: middle;
}